@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");

body {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.my-class {
  color: transparent;
  background-image: url("../public/logo1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 60px;
  width: 250px;
  margin-block: 32px;
  margin: 0 auto;
  object-fit: contain;
}
.text-field {
  border-radius: 24px;
  width: 320px;
  font-family: inherit;
  padding: 12px 16px;
  border: 1px solid #eaeaea;
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12); */
  font-size: 14px;
}
.text-field:focus {
  border-color: #009490 !important;
  border: 1px solid #009490 !important;
  outline: none;
}
.none {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.login {
  background: #fafafa;
  border-radius: 8px;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
  box-sizing: border-box;
}
.login body {
  background-color: powderblue;
}

.btn {
  padding: 12px 24px;
  all: unset;
  background-color: #009490;
  color: white;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 24px;
}
/* my primary-text */
p {
  color: #009490;
  font-size: 28px;
}
